
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}  /* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,img {border:0 none}  /* Reset fieldset (form grouping), the border of the picture is 0*/
dl,ul,ol,menu,li {list-style:none}   /* Reset the leading symbol of the class table to onne, menu is valid in HTML5 */
blockquote, q {quotes: none}   /* Reset the quote type of nested quotes */
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* reset nested references*/
input,select,textarea,button {vertical-align:middle}  /* reset form control vertical center*/
button {border:0 none;background-color:transparent;cursor:pointer}  /* Reset form button button effect */
body {background:#fff}   /* Reset body page background to white */
body,th,td,input,select,textarea,button {font-size:12px;line-height:1 ;font-family:"Microsoft Yahei", "black body","Song Dynasty";color:#666} /* Reset page text properties */
a {color:#666;text-decoration:none}  /* reset link a tag */
a:active, a:hover {text-decoration:none}   /* Reset the mouse swipe effect of the link a tag */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* reset the style of the style tag */
caption {display:none;}    /* reset table header to hidden */
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* reset table properties */
img{vertical-align:top}  /* The vertical position of the image within the current row */

/* page settings */

  /* Cancel the dashed box after the a label is clicked */
a {outline: none;}




/*clear float*/
.clear{clear: both;}

/*clear float -- recommended*/
.clearfix:before,.clearfix:after{content: '';display: table;}
.clearfix:after{clear: both;}


.animation-show {
    -webkit-animation: animation-show-data-v-c865a8bc .1s ease-in;
    animation: animation-show-data-v-c865a8bc .1s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

